* {
  box-sizing: border-box;
}

body {
  padding-left: 100px;
  padding-right: 100px;
}
.nav_pic {
  margin-top: 50px;
}

.nav {
  position: absolute;
  top: 70px;
  right: 150px;
  height: 113px;
}

a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.main {
  background-image: url(/imge/image-hero-coffeepress\ \(1\).jpg);
  background-size: cover;
  height: 500px;
  border-radius: 15px;
  padding-top: 50px;
  padding-left: 80px;
  background-position: center;
  margin-top: 50px;
}
.m_title {
  color: white;
  font-family: sans-serif;
  font-size: 48px;
  width: 329px;
}
.text_m {
  text-align: left;
  width: 398px;
  color: #fefcf7;
  text-align: left;
  margin-top: 50px;
}
.m_but {
  height: 56px;
  width: 217px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  background-color: #0e8784;
  color: #fefcf7;
  margin-top: 50px;
}

.m_but:hover {
  background-color: #5ce0de;
  color: #fefcf7;
}
.coffe_list{
  list-style-type: none;
  margin-top:136px;
  margin-left: auto;
  margin-right: auto;
}
.coffe_item{
  width: 275px;
  display: inline-block;
  text-align: center;
  margin: 15px;
}
.coffe_pic{
  width: 100%;
}
.coffe_title{
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
}
