* {
  box-sizing: border-box;
}

body {
  padding-left: 100px;
  padding-right: 100px;
}
.nav_pic {
  margin-top: 50px;
}

.nav {
  position: absolute;
  top: 70px;
  right: 150px;
  height: 113px;
}

a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.main {
  background-image: url(/imge/image-hero-coffeepress\ \(1\).jpg);
  background-size: cover;
  height: 500px;
  border-radius: 15px;
  padding-top: 50px;
  padding-left: 80px;
  background-position: center;
  margin-top: 50px;
}
.m_title {
  color: white;
  font-family: sans-serif;
  font-size: 48px;
  width: 329px;
}
.text_m {
  text-align: left;
  width: 398px;
  color: #fefcf7;
  text-align: left;
  margin-top: 50px;
}
.m_but {
  height: 56px;
  width: 217px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  background-color: #0e8784;
  color: #fefcf7;
  margin-top: 50px;
}

.m_but:hover {
  background-color: #5ce0de;
  color: #fefcf7;
}
.coffe_list {
  list-style-type: none;
  margin-top: 136px;
  margin-left: auto;
  margin-right: auto;
}
.coffe_item {
  width: 275px;
  display: inline-block;
  text-align: center;
  margin: 15px;
}
.coffe_pic {
  width: 100%;
}
.coffe_title {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
}
.count_card {
  margin-top: 200px;
  height: 577px;
  background-color: #2c343e;
  border-radius: 10px;
  padding-top: 50px;
}
.card_header {
  text-align: center;
  color: #fefcf7;
  font-size: 40px;
  font-family: sans-serif;
}
.coun_text {
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}
.card_list {
  list-style-type: none;
  padding-left: 180px;
  padding-top: 100px;
}
.card_item {
  display: inline-block;
  width: 350px;
  height: 382px;
  text-align: center;
  background-color: #0e8784;
  border-radius: 10px;
  margin: 10px;
}
li:nth-child(3) {
  position: relative;
  bottom: 20px;
}
.card_pic,
.card_title,
.card_text {
  margin-top: 50px;
}
.card_title,
.card_text {
  color: #fefcf7;
  font-weight: 400;
  line-height: 26px;
  font-family: sans-serif;
}
.card_title {
  font-size: 30px;
}
.step_list {
  list-style-type: none;
  padding-left: 180px;
}
.step_item {
  display: inline-block;
  width: 350px;
  height: 382px;
  text-align: left;
  margin: 20px;
}
.step_number {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.step_title {
  margin-top: 38px;
  margin-bottom: 42px;
  font-size: 32px;
}
.step_text {
  width: 284;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333d4b;
}
.step_item:nth-child(3) {
  position: relative;
  bottom: 2px;
}
.s_but {
  height: 56px;
  width: 217px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  background-color: #0e8784;
  color: #fefcf7;
  margin-left: 200px;
}
.s_but:hover {
  background-color: #5ce0de;
  color: #fefcf7;
}
.how {
  padding-top: 400px;
}
.how_title {
  margin-left: 200px;
  margin-bottom: 100px;
  font-family: sans-serif;
  color: #2c343e;
}
footer {
  margin-top: 100px;
  background-color: #2c343e;
  height: 120px;
  margin-bottom: 88px;
}
.footer {
  position: relative;
  bottom: -15px;
  left: 450px;
}
.footer_pic {
  filter: brightness(0) invert(1);
  position: relative;
  bottom: -40px;
  left: 50px;
}
.logo{
  text-align: right;
  margin-right:100px;
}
.fot_pic{
  margin: 10px;
}